* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    min-height: 100vh;
    background-color: #ffbc11;
    display: grid;
    place-items: center;
}

.calculadora {
    background-color: #000000;
    color: white;
    width: 350px;
    max-width: 100%;
    padding: 1.5rem;
    border-radius: 1rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: .5rem;
}

.pantalla {
    grid-column: 1 / -1;
    background-color: #000000;
    padding: 1.5rem;
    font-size: 2rem;
    text-align: right;
    border-radius: .5rem;
    margin-bottom: 1rem;
    font-family: monospace;
    font-weight: 600;
    overflow: hidden;
}

.btn {
    background-color: #101111a2;
    color: white;
    border: 0;
    padding: 1.5rem .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: .5rem;
    cursor: pointer;
    font-weight: 800;
}
.btn_clean{
    background-color: #6c7877;
}
.btn_op{
    background-color:#ff3d00; 
}
.btn:hover {
    background-color:  #e65766;
}

#cero {
    grid-column: span 2;
}

#igual {
    grid-row: span 2;
    background-color: #ff3d00;
}

#igual:hover {
    background-color: #e65766;
}